p {
    display: inline;
}

#content {
    width: 600px;

    margin-left: auto;
    margin-right: auto;
}

.request {
    margin: 20px 0px;
    width: 100%;
}

input {
    margin-left: 10px;
    margin-right: 10px;
    width: 480px;
}

button {
    float: right;
}

textarea {
    max-width: 600px;
    width: 600px;
}
