body {
    overflow-y: scroll;
}

#browser {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: -30px;
    overflow: hidden;
}

.thumbnail {
    text-align: center;
    display: inline-block;
    width: 230px;
    height: 230px;
    margin: 10px;
    float: left;
    position: relative;
}

.thumbnail:hover {
    background-color: #EEE;
    cursor: pointer;
}

.canvas-holder-inner {
    display: table-cell;
    vertical-align: middle;
}

.canvas-holder-outer {
    display: table;
    height: 230px;
    width: 100%;
}

.description {
    height: 20px;
    bottom: 20px;
    position: relative;
}

.description .size {
    margin-right: 10px;
    display: inline;
}

.description .difficulty {
    margin-left: 10px;
    display: inline;
}

.filtering {
    width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.filtering .item {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.filtering a {
    color: #888;
    cursor: pointer;
}

.filtering a:hover {
    border-bottom: 2px solid #888;
}

.filtering a.selected {
    border-bottom: 2px solid black;
    color: black;
    font-size: 20px;
    cursor: default;
}

.filtering .type {
    width: 80px;
    text-align: right;
    display: inline-block;
}
