.puzzle-table-non {
    border-collapse:collapse;
}
.puzzle-table-non td, .puzzle-table-non th {
    padding:5px;
}

.container {
    padding: 30px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
}

.puzzle-container {
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 60px;
    background: white;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid black;
    opacity: 0.9;
}

.browser-container {
    border-radius: 15px;
    border: 4px solid black;
    padding: 30px;
    margin-bottom: 60px;
    background: white;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
.puzzle {
    max-width: 500px;
    max-height: 500px;
    /*height: 450px;*/
}

.some {
    max-width: 500px;
    max-height: 500px;
    height: 450px;
}

table {
}

table td {
    border:1px solid black;
    width: 14px;
    height: 14px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.nothing {
}

.num {
}
.cell-not-clicked {
}

.cell-clicked {
    background:
        url("/static/img/clicked.gif")
        no-repeat
        50% 50%;
    background-size: 20px 20px;
}

.cell-rightclicked {
    background:
        url("/static/img/cross.png")
        no-repeat
        50% 50%;
    background-size: 25px 25px;
}

body {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    margin: 0;
}

.button-container {
    margin-top: 10px;
    padding: 10px;
    margin-left: 3px;
}

input[type=button] {

    background: #006e2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #006e2e 0%, #006e2e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006e2e), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #006e2e 0%,#006e2e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #006e2e 0%,#006e2e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */


    height: 24px;
    width: 103px;
    text-transform:uppercase;
    box-shadow:-1px 2px green inset;

    color: black;
}

input[type=button], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}

.num-clicked {
    color: red;
}


.minitext {
    position: absolute;
    top: 47px;
    left: 240px;
    font-size: 12px;
}

.header {
    text-transform: uppercase;
    text-shadow: -1px 2px 2px black;
    font-size: 2.7em;
    line-height: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.simple-header-position {
    position: absolute;
    top: 0px;
    left: 180px;
}

.simple-header {
    text-transform: uppercase;
    text-shadow: -1px 2px 2px black;
    font-size: 2.7em;
    line-height: 1.2em;
    font-weight: bold;
}

.hide {
    visibility: hidden;
}

.head-div {
    border: 2px dashed black;
}

.thick-top {
    border-top: 2px solid black;
}

.thick-bottom {
    border-bottom: 2px solid black;
}

.thick-left {
    border-left: 2px solid black;
}

.thick-right {
    border-right: 2px solid black;
}

td.hide {
    border: 0px;
    padding: 6px;
}

:not(.footer).last td.hide {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

td.hide.has-right {
    border-right: 1px solid black;
    padding-right: 5px;
}

td.hide.has-left {
    border-left: 1px solid black;
    padding-left: 5px;
}

footer.first td.hide {
    border-top: 1px solid black;
    padding-top: 5px;
}
